RewriteEngine On
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.pdf|\.png|\.jpg|\.gif|\.eot|\.svg|\.ttf|\.woff|\.woff2|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]